# Server
SERVER_URL=http://localhost:5000

# Database
DATABASE_URL=

# Client
CLIENT_URL=

# Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

# Session
SESSION_COOKIE_SECRET=

# Email Verification
EMAIL_VERIFICATION_SECRET=