# Server
SERVER_URL=http://localhost:5000

# Database
DATABASE_URL=

# Client
CLIENT_URL=

# Auth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

# Internal webhook
INTERNAL_WEBHOOK_SECRET=

# Webhook secret encryption secret key
WEBHOOK_SECRET_SECRET=

# Session
SESSION_COOKIE_SECRET=

# Email Verification
EMAIL_VERIFICATION_SECRET=
RESEND_API_KEY=

# Tasks
TRIGGER_SECRET_KEY=

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PLAN_ID=